body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#login {
  margin: auto;
  width: 30%;
  padding-top: 10%;
  text-align: center;
}
#login-header {
  text-align: center;
}
#login-button {
  font-size: 20px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#logout-nav {
  text-align: right;
}
.button {
  padding-top: 05%;
}
.nav-elem {
  padding-right: 30px;
  color: white;
}
.nav-table {
  position:fixed;
  width:98%;
  z-index:1;
  padding: .5%;
  background-color: #422679;
}
